@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');

/* sovrascrive colori globali usati da bootstrap */
:root, [data-bs-theme="light"] {
  /* override colori base bootstrap */
  --bs-primary: #000000;
  --bs-primary-rgb: 0, 0, 0;
  
  --bs-secondary: #757575;
  --bs-secondary-rgb: 117, 117, 117;
  
  /* colori relativi alle linee metropolitane */
  --metro-red:    rgb(229, 57, 53);
  --metro-yellow: rgb(249, 168, 37);
  --metro-blue:   rgb(21, 101, 192);
  --metro-green:  rgb(46, 125, 50);

  --metro-red-light:    #ffdee3;
  --metro-yellow-light: #fffde4;
  --metro-blue-light:   #d7eeff;
  --metro-green-light:  #dbffde;

  --metro-border:   #E0E0E0;
  --metro-text:     #111111;
}

body {
  background-color: #FAFAFA;
  color: var(--metro-text);
  font-family: "Inconsolata", monospace;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

.btn-primary {
  --bs-btn-bg: #000000;
  --bs-btn-border-color: #000000;
  --bs-btn-hover-bg: #333333;
  --bs-btn-hover-border-color: #333333;
  --bs-btn-active-bg: #1a1a1a;
}

.btn-secondary {
  --bs-btn-bg: #757575;
  --bs-btn-border-color: #757575;
  --bs-btn-hover-bg: #5c5c5c;
  --bs-btn-hover-border-color: #5c5c5c;
  --bs-btn-active-bg: #4d4d4d;
}